.section {
    // box model

    // visual
    background-color: $sectionBg;

    @include atDesktop {
        // box model
        min-height: 100vh;
    }

    &--features {
        // visual
        background-color: $featuresBg;

        @include atDesktop {
            // box model
            display: flex;
        }
    }

    &--testimonials {
        // box model
        padding-top: 40px;

        // visual
        background-color: $testiBg;

        @include atTabletsLandscape {
            // visual
            background-image: url('./img/testi-bg.gif');
        }
    }

    &--sign-up {
        // visual
        background-color: $violet;
    }

    &--white {
        // visual
        background-color: $white;
    }

    &--deco-45 {
        // visual
        background-image: linear-gradient(135deg, transparent 0%, transparent 75%, $pink 75%, $pink 100%);
    }

    &--deco-78 {
        // visual
        background-image: linear-gradient(225deg, transparent 0%, transparent 75%, $pink 75%, $pink 100%);
    }

    &--deco-12 {
        // visual
        background-image: linear-gradient(45deg, transparent 0%, transparent 75%, $pink 75%, $pink 100%);
    }

    &--flex {
        // box model
        display: flex;
    }

    &--auto {
        // box model
        height: auto;
        min-height: auto;
        padding: 60px 0;
    }

    &__header {
        &--mb70 {
            @include atDesktop {
                margin-bottom: 70px;
            }
        }
    }

    &__suptitle {
        // box model
        margin-bottom: 5px;

        // typography
        color: $accent;
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;

        &--center {
            // typography
            text-align: center;
        }
    }

    &__title {
        // box model
        margin-top: 0;

        // typography
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        
        @include atDesktop {
            // typography
            font-size: 2.5rem;
        }

        &--center {
            // typography
            text-align: center;
        }

        &--white {
            // typography
            color: $white;
        }

        span {
            // typography
            color: $accent;
        }
    }

    &__text {
        // typography
        font-size: 1rem;
        line-height: 1.625;
    }

    &__wrapper {
        // box model
        // border: 1px solid red;
        padding: 20px;
        max-width: 1160px;
        margin: 0 auto;

        &--white {
            // visual
            background-color: $white;
        }

        &--flex {
            @include atDesktop {
                // box model
                display: flex;
                // justify-content: space-around;
                justify-content: center;
                flex-direction: row;
                align-items: center;
            }
        }

        &--left {
            @include atDesktop {
                // box model
                height: 100vh;
                width: 62.2%;
                max-width: 62.2%;
                margin: 0;
            }
        }
    }

    &__content {
        &--about {
            @include atDesktop {
                // box model
                // display: block;
                width: 600px;
            }
        }

        &--goose {
            @include atDesktop {
                width: 45%;
            }
        }
    }

    &__features {
        @include atDesktop {
            // box model
            display: flex;
        }
    }
}