.testimonial {
    // box model
    max-width: 500px;
    margin: 0 auto;

    // typography
    text-align: center;

    &__avatar {
        // box model
        height: 76px;
        width: 76px;
        margin: 0 auto;

        // visual
        background-color: #3a3a46;
    }

    &__name {
        // typography
        color: $white;
        font-weight: 400;
    }

    &__position {
        // typography
        color: $accent;
    }

    &__text {
        // typography
        color: rgba($white, 0.66);
        font-style: italic;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.625;
    }
}